<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bungee+Spice&family=EB+Garamond:wght@400;500;600&family=Kay+Pho+Du:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&family=Neuton:wght@200;300;400;700;800&family=Nosifer&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <!-- <title>Landscapes</title>
    <style>
        body {
            background-color: #383838
        }
        h1 {
            color: #dadada
        }
    </style> -->
</head>
<body>
    <nav class="myNavStyle">
        <a class="menuLinkStyle" href="/">Home</a>
        <a class="menuLinkStyle" href="animals">Animals</a>
        <a class="menuLinkStyle" href="architecture">Architecture</a>
        <a class="menuLinkStyle" href="landscapes">Landscapes</a>
        <a class="menuLinkStyle" href="people">People</a>
        <a class="menuLinkStyle" href="water">Water</a>
        <a class="menuLinkStyle" href="weather">Weather</a>
    </nav>
    <br>
    <!-- <hr class="primaryHR"> -->

    <h1>Landscapes</h1>
    <div id="images" class="gallery">
        <div id="b1"><button id="leftBtn" class="arrows">&#10096;</button></div>
        <!-- <span class="credits"><a href="https://www.pexels.com">Photos provided by Pexels</a></span> -->
        <div id="b2"><button id="rightBtn" class="arrows">&#10097;</button></div>
    </div>
    <footer id="footer">
        <span class="credits">Express Server Application &nbsp; <span class="separator">|</span> &nbsp; Designed by Michele Hobson</span><br>
        <section id="footerPages">
            <div id="divFooterLinks">
                <a class="ftrLinks" href="home">Home</a>
                <a class="ftrLinks" href="animals">Animals</a>
                <a class="ftrLinks" href="architecture">Architecture</a>
                <a class="ftrLinks" href="landscapes">Landscapes</a>
                <a class="ftrLinks" href="people">People</a>
                <a class="ftrLinks" href="water">Water</a>
                <a class="ftrLinks" href="weather">Weather</a>
            </div>
        </section>
    </footer>

</body>
</html>