h1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Kay Pho Du', serif;
    font-weight: 700;
    font-size: 4em;
    margin-top: 50px;
}
.footer {
    /* display: flex;
    justify-content: center;
    align-content: flex-end; */
    padding: 20px;
    text-align: center;
    background: #ddd;
    display: flex;
    flex-flow: row wrap;
    font-size: 10px;
    width: 100vw;
    height: 500px;

}
.ftrLinks {
    color: #ddd;
    text-decoration: none;
}
.credits {
    display: flex;
    justify-content: center;
    color: #ddd;
    text-decoration: none;
    margin: 0px auto 0px auto;
}

.menuLinkStyle {
    list-style-type: none;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: #ddd;
    margin: -20px 10px 0px 10px;
}
.myNavStyle a:hover {
    color: #D2DBDF !important;
}
.myNavStyle a:active, .myNavStyle a:focus  {
    color: #475F6B !important;
}
.myNavStyle {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5em;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.primaryHR {
    width: 100vw;
}